body{
    background-color: rgba(9, 138, 150,0.6);
}
label{
    font-weight: bold;
}
 
#form_submission_ajax{
    background-color: #048277;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
.error{
    color: #ff0000;
}
 
input {
    border: 2px solid;
    padding: 4px;
}
 
input[type=text], input[type=password],input[type=email] {
    width: 300px;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:5px;
    /*box-shadow: 1px 1px ;*/
}
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    /*box-shadow: 1px 1px;*/
    font-size: 18px;
}

 
h1 {
    color: black;
}
#form{
    margin-top: 50px;
    background: #048277;
    border-radius: 5px; 
}